<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="/css/navbar.css">
 <script defer src="/js/navbar.js"></script>
 <title>About</title>
</head>
<body>
 <style>
  body {
   font-family: 'Poppins', sans-serif;
  }
   p {
    height: 80vh;
    width: 400px;
    padding: 0 20px;
    letter-spacing: 1px;
   }
   h3 {
    padding: 0 20px;
   }
 </style>
 <%- include("layouts/navbar") %>
 <h3>About Us</h3>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, odit natus. Quis, soluta commodi, saepe dignissimos, dolores accusantium itaque ipsum ad excepturi a ex? Quisquam laborum repellendus corrupti odio corporis.</p>
 <%- include("layouts/footer") %>
</body>
</html>