body {
 font-family: 'Poppins', sans-serif;
}

form {
 height: 70vh;
 width: 400px;
 position: relative;
 padding: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 0 auto;
 justify-content: space-evenly;
}

.form-container {
width: 80%;
padding: 20px;
height: 350px;
display: flex;
flex-direction: column;
justify-content: space-between;
 border: solid black;
text-align: center;
border-radius: 5px;
}

.form-container input {
 height: 30px;
 border: solid 2px black;
 padding: 2px;
 border-radius: 2px;
}

.form-container button {
 height: 40px;
 border: none;
 color: white;
 background-color: rgb(43, 43, 43);
 cursor: pointer;
}

.form-container button:hover {
 background-color: black;
}